In [22]:
import psycopg2 as pg
import pandas as pd

Set up the database connection parameters. You'll need to provide the database name, user, password, host, and port:

In [3]:
dbname = "eamena"
user = "eamenar"
password = "eamenar"
host = "52.50.27.140"
port = "5432"

Establish a connection to the database using the psycopg2.connect() function:

In [23]:
try:
    connection = pg.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host,
        port=port
    )
    print("Connection established successfully!")
except pg.Error as e:
    print(f"Error: {e}")

Connection established successfully!

Create a cursor object to interact with the database and execute SQL queries using the cursor. For example, you can execute a simple query like this:

In [24]:
my_table = pd.read_sql("SELECT * FROM nb_hp_by_gs LIMIT 10;", connection)
print(my_table)

                                grid_id  nb_hp   grid_num
0  36997a90-8e1c-4693-9738-1af1b428a07c      5  E34N31-13
1  9786a8b2-4f69-46c9-a0b0-656c26e5f908     78  E34N31-14
2  8b54b4d1-2077-4594-b3e6-59b5c9bbf3ae     21  E34N31-42
3  be51ee3c-d2aa-4244-ae69-f93cca04a690    118  E35N31-31
4  09107442-c267-44cb-806f-d66ea5d2d70b      1  E34N31-12
5  c4e8738c-c3a5-4aba-a3f5-31f3890150e0     20  E34N31-32
6  c077f029-3185-4177-bac5-81f14846595f      7  E34N32-22
7  ab1ffdfe-2e6e-4502-8080-ba2d705af546    231  E35N31-34
8  5274cb77-b93b-465c-9323-7e5deda2d01c     86  E35N32-12
9  db704a72-ddf0-4139-963c-2eb5cccb3b0e     20  E34N31-24

C:\Users\Thomas Huet\AppData\Local\Temp\ipykernel_15972\3594355094.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  my_table = pd.read_sql("SELECT * FROM nb_hp_by_gs LIMIT 10;", connection)